@media screen and (max-width: 480px)
  body
    nav
      height: 50px
      .menu-wrap ul li
        font-size: 22px
        margin-right: 0
      .navToggle
        transform: scale(.8)
        right: 10px
        top: 0
      .menu-text
        right: 65px
        top: 20px
      &.white
        background-color: #ffffff
        color: #000
        border-bottom: 1px solid rgba(#000, 0.2)
        .menu-text
          color: #000
        .text-white
          color: #000!important
        .navToggle 
          .icon
            background-color: #000000
            &::before,
            &::after
              background-color: #000000
          &.open .icon
            background-color: transparent
      &.open 
        .menu-wrap
          z-index: 9
        .openlogo
          background-size: cover
          background-position: inherit
  .logo
    z-index: 9999
    width: 90px
    img
      width: 100%
  .logo_1
    top: 35%
  .btn
    margin-bottom: 55px
  .social-wrap
    top: 80%
    left: 0
    text-align: center
    width: 100%
    display: none //fix on main page
    a
      display: inline-block
  .swiper-container-vertical>.swiper-pagination-bullets
    display: none
  .swiper-slide
    overflow: auto
    &:not(.header):not(.s1)
      margin-top: 50px
    .on-front-desc
      width: 90%
      left: -160px
      top: 0
    .on-front-desc
      &.modal_content
        &.desc_arrow_left:after
          content: none
        .btn
          position: relative
          left: 0
    .p-content
      margin: 25px 0 0
      height: 100%
      // overflow-y: scroll
      p
        margin-top: 5px
    .s-title
      top: 15px
    h4
      font-size: 22px
      line-height: 22px
    .p-image
      padding: 55px 0 15px
      .product_img
        max-width: initial
        max-height: 320px
      .product_wrap 
        background-size: 70%
        min-width: 300px
        min-height: 300px
        .btn-wrap-container .btn-add-cart
          top: 0
          left: -140px
        .btn-wrap-container .btn-more-info
          top: 0
          left: 180px
    &:not(.header):not(.s1)
      .btn-next
        position: relative
        margin-left: -10px
        left: 50%
        margin: 15px 0
    &.header
      background-position: 70% 0
      height: 100vh!important
      .btn-next
        display: block
      .btn
        position: relative
      h1
        font-size: 34px
        line-height: 44px
        margin-bottom: 15px
    &.s1 
      .b-left img
        height: 80%
        margin: 65px auto auto
      h2
        font-size: 22px
        line-height: 24px
      .b-left
        height: 50%
    &.s6 
      .p-content
        margin: 0
        width: auto
        max-width: inherit
      .on-front
        position: relative
        &.on-front-right
          right: 0
          height: auto!important
          .p-content
            margin: 0
        &.on-front-left
          height: auto!important
      .product_wrap 
        .product_img
          max-height: 350px
        .btn-wrap-container 
          .btn-more-info-6
            left: 125px
          .btn-add-cart-6
            left: -130px
            top: 70px
    &.s7
      .product_wrap 
        .product_img
          max-width: initial
          max-height: 320px
        .btn-wrap-container 
          .btn-more-info-7
            left: 125px
          .btn-add-cart-7
            left: -130px
            top: 70px
    &.footer
      .b-right
        height: 280px
      .b-left 
        padding: 0
        .p-content
          margin-left: 30px
      .container-fluid.h-100
        padding: 0
      .row.h-100
        height: auto!important
        margin: 0

@media screen and (max-width: 360px)
  .swiper-slide 
    .b-left 
      .p-content
        margin: 0
    .p-image 
      .product_img
        max-height: 220px
      .product_wrap
        min-height: 200px
        background-size: 55%
        .btn-wrap-container .btn-more-info
          left: 135px
          transform: scale(.8)
        .btn-wrap-container .btn-add-cart
          left: -95px
          transform: scale(.6)
    &.header 
      h1
        font-size: 32px
        line-height: 32px
      .logo_2
        width: 35px
        top: 0