@media screen and (max-width: 480px)
  nav.open 
    .menu-wrap
      z-index: 9
    .openlogo
      background-size: cover
      background-position: inherit
  .logo_1
    top: 35%
  .btn
    position: absolute
    bottom: 10px
    left: 15px
    width: 220px
  .social-wrap
    top: 80%
    left: 0
    text-align: center
    width: 100%
    display: none //fix on main page
    a
      display: inline-block
  .swiper-container-vertical>.swiper-pagination-bullets
    display: none
  .swiper-slide
    .on-front-desc
      width: 90%
      left: -160px
      top: 0
    .on-front-desc
      &.modal_content
        &.desc_arrow_left:after
          content: none
        .btn
          position: relative
          left: 0
    .b-left,
    .b-right
      height: 50%
    .p-content
      margin: 25px 0 0
      height: 100%
      overflow-y: scroll
      p
        margin-top: 5px
    .s-title
      top: 15px
    h4
      font-size: 22px
      line-height: 22px
    .p-image
      padding: 55px 0
      .product_img
        max-width: initial
        max-height: 320px
      .product_wrap 
        background-size: 70%
        min-width: 300px
        min-height: 300px
        .btn-wrap-container .btn-add-cart
          top: 0
          left: -140px
        .btn-wrap-container .btn-more-info
          top: 0
          left: 180px
    &.header
      background-position: 70% 0
      height: 100vh!important
      .btn-next
        display: block
      h1
        font-size: 34px
        line-height: 44px
        margin-bottom: 15px
    &.s1 
      .b-left img
        height: 80%
        margin: 65px auto auto
      h2
        font-size: 22px
        line-height: 24px
    &.s6 
      .p-content
        margin: 0
      .on-front
        position: relative
        &.on-front-right 
          right: 0
          .p-content
            margin: 0
    &.footer
      .b-right
        height: 280px