/*nav*/
html {
  position: relative;
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav {
  width: 100%;
  height: 80px;
  background-color: white;
  position: absolute;
  z-index: 9999;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: swing;
          transition-timing-function: swing;
  overflow: hidden;
}

nav.open {
  height: 100vh;
  background: linear-gradient(295.18deg, rgba(226, 0, 15, 0.2) 0%, rgba(226, 0, 15, 0.1) 36.36%, rgba(0, 0, 0, 0) 71.23%);
}

.navToggle {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 10px;
  right: 20px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.navToggle .icon {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  position: absolute;
  width: 30px;
  height: 2px;
  top: 30px;
  right: 15px;
  background-color: black;
}

.navToggle .icon:before {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;

  position: absolute;
  width: 30px;
  height: 2px;
  background-color: black;
  content: "";
  top: -7px;
  left: 0;
}
.navToggle .icon:after {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: black;
  content: "";
  top: 7px;
  left: 0;
}

.navToggle:hover {
  cursor: pointer;
}

.navToggle:hover .icon:before {
  top: -10px;
}

.navToggle:hover .icon:after {
  top: 10px;
}

.navToggle.open {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.navToggle.open .icon {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background-color: transparent;
}

.navToggle.open .icon:before {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;

  top: 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background-color: white;
}

.navToggle.open .icon:after {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  top: 0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  background-color: white;
